<br />

<h2>CreateMovie</h2>


<form action="Creator" method="post">

    <div class="form-group">
        <label for="Titre">Titre</label>
        <input type="text" class="form-control" name="Titre" placeholder="Entrer un Titre de film">        
    </div>

    <div class="form-group">
        <label for="Genre">Genre</label>
        <input type="text" class="form-control" name="Genre" placeholder="Préciser le genre du film">
    </div>
    
    <button type="submit" class="btn btn-primary">Entrer</button>
</form>