@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron">
    <center>
        <h1>La Vidéothèque</h1>
        <p class="lead">Une collection de films impressionnante en ligne !</p>
        <img src="https://news-cdn.softpedia.com/images/news2/imdb-to-close-message-board-full-of-trolls-512648-2.jpg" width="705Opx">
    </center>

</div>
